<h2>the main view</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="food in foods">
      <td>
        <div ng-if="!underEdit">{{food.name}}</div>
        <vcs-editform ng-if="underEdit" toedit="food.name" type="text" required ng-minlength="3" ng-maxlength="30" ng-trim="true" placeholder="name of the food"></vcs-editform>
      </td>
      <td>
        <div ng-if="!underEdit">{{food.description}}</div>
        <vcs-editform toedit="food.description" type="text" ng-if="underEdit"></vcs-editform>
      </td>
      <td>
        <div ng-if="!underEdit">{{food.price | currency }}</div>
        <vcs-editform ng-if="underEdit" toedit="food.price" type="number" required min="0" placeholder="price"></vcs-editform>
      </td>
      <td>
        <buttons class="btn btn-warning" ng-if="!underEdit" ng-click="editing()"><i class="glyphicon glyphicon-edit"></i></buttons>
        <buttons class="btn btn-primary" ng-if="!underEdit"><i class="glyphicon glyphicon-search"></i></buttons>
        <buttons class="btn btn-danger" ng-if="!underEdit"><i class="glyphicon glyphicon-trash"></i></buttons>
      </td>
    </tr>
  </tbody>
</table>
<button ng-if="underEdit" class="btn btn-success btn-lg" ng-click="finishEdit()">Finish edit</button>
